SECRET_KEY=your-django-secret-key
DATABASE_URL=postgres://user:pass@localhost:5432/neuropass
GOOGLE_API_KEY=your-gemini-api-key
YARNGPT_API_URL=https://yarngpt.ai/api/v1
YARNGPT_API_KEY=your-yarngpt-api-key
PINATA_JWT=your-pinata-jwt
SOLANA_RPC=https://api.devnet.solana.com
WALLET_SECRET_KEY=[1,2,3...your-solana-private-key-bytes]
SOLANA_VERIFIER_KEY=[1,2,3...verifier-keypair-bytes-from-register_verifier.ts]
